<%- include("../partials/headerspending") %>
<%- include("../partials/messages") %>

<div class="container w3-roboto">
	<div class="jumbotron text-center">
		<a href="/spending" style="float: left;"><button id="back"><i class="fa fa-arrow-circle-left"></i> Go Back</button></a>
        <br>
        <br>

	<% var count=0; %>
    <% var m = new Date().getMonth()+1; %>
    <% var months = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %>
    
	<h4 class="w3-lobster" style="font-size: 50px; text-align: center; color: black;">Expense(s) for <%= months[m-1] %></h4>

	<table id="expenses" class="table">
      <tr>
        <th>S.No</th>
        <th>Purpose</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Options</th>
      </tr>
	  
	  <% var total=0; %>
      <% var d = new Date().getFullYear(); %>
      
      <% spendings.forEach(function(spending) {  %>
		<% if(spending.author.id.equals(currentUser._id)){ %>
            <% if(spending.year == d ){ %>
                <% var temp = spending.month; %>
                <% if(temp == m){ %>
			<% total+=spending.amount; %>
      	<tr>
          <td></td>
        	<td> <%= spending.name %> </td>
        	<td> <%= spending.date %> </td>
        	<td> Rs.&nbsp; <%= spending.amount %> </td>
        	<td>
          		<form method="POST" action="/deleteSpending">
            		<input type="hidden" name="id" value="<%= spending._id %>">
            		<button  class="btn btn-danger"> Delete </button>
              </form>
          </td>
      	</tr>
      <% }}}}); %>
	</table>
	<% spendings.forEach(function(spending) {  %>
            <% if(spending.year == d ){ %>
                <% var temp = spending.month; %>
                <% if(temp == m){ %>
                    <% count++; }}}); %>
                    <% if(count!=0){ %>
			    <hr>
			    <h4 class="w3-robot" style="font-size: 30px; text-align: right; color: black;">Total Expenditure: Rs.&nbsp;<%= total %></h4>
    			<hr>
        <% } %>
    </div>
  </div>

<%- include("../partials/footer") %>