<%- include("../partials/headerspending") %>


  <!-- Main file Below -->

  <div class="container w3-round-large" id="body1" style="width: 80%; margin: 20px auto;">
    <h1 class="w3-lobster">Daily Expense Manager </h1>
    <h2 class="w3-roboto"> Add a new item:</h2>

    <div id="form-box" method="POST">
      <form id="add-expense" action="/spending" method="POST">

        <div class="form-group">
          <span>Name:</span> <input type="text" name="name" placeholder="What did you spend on?">
        </div>

        <div class="form-group">
          <span>Date:</span> <input type="date" name="date">
        </div>

        <div class="form-group">
          <span>Amount:</span> <input type="number" name="amount" placeholder="How much?">
        </div>
		  <div class="form-group w3-center w3-bar">
			  <input type="submit" style="height: 40px;" name="submit" value="Add Expense" class="btn btn-primary">
		  </div>
      </form>
    </div>
	  
    <hr />

    <div class="container" id="button1" style="width: auto;" role="group" aria-label="Basic example">
      <a href="/spending/monthwiseanalysis"><button type="button" style="width:260px; height: 45px; margin-right: 28px;" class="btn btn-warning">Month Wise Expense Manager</button></a>
      <a href="/spending/todaysexpense"><button type="button" style="width:260px; height: 45px; margin-right: 28px;" class="btn btn-warning">Today's Expense(s)</button></a>
      <a href="/spending/currentmonthanalysis"><button type="button" style="width:260px; height: 45px; margin-right: 28px;" class="btn btn-warning">This Month's Expense(s)</button></a>
      <a href="#"><button type="button" style="width:260px; height: 45px;" class="btn btn-warning">Budget v/s Expense(s)</button></a>
    </div>

    <hr>

    <h4 class="w3-lobster" style="font-size: 40px; text-align: center; color: white;">Recently Added Expenses</h4>

    <table id="expenses" class="table">
      <tr>
        <th>S.No</th>
        <th>Purpose</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Options</th>
      </tr>
      
      <% spendings.reverse().forEach(function(spending) {  %>
    <% if(spending.author.id.equals(currentUser._id)){ %>
      	<tr>
          <td></td>
        	<td> <%= spending.name %> </td>
        	<td> <%= spending.date %> </td>
        	<td> Rs.&nbsp; <%= spending.amount %> </td>
        	<td>
          		<form method="POST" action="/deleteSpending">
            		<input type="hidden" name="id" value="<%= spending._id %>">
            		<button  class="btn btn-danger"> Delete </button>
              </form>
          </td>
      	</tr>
		<% } %>
      <% }); %>
    </table>
  </div>

<%- include("../partials/footer") %>